body {
    background-color:rgba(170, 183, 199, 0.6 );
    
}

.title {
    border-color: black;
    border-style: solid;
}

.inner-title {
    border-style: solid;
    border-color: black;
    margin: 0.5%;
}

.title-text {
    font-size: 500%;
    text-align: center; 
}

.blog {
    float: left;
    width: 75%;
}

.blogtitle {
    font-size: 400%;

}

.blogtext {
    font-size: 200%;

}

.aboutMe {
    width: 25%;
    float: left;
    padding-left: 1%;
}