body {
    background-color:rgba(170, 183, 199, 0.6 );
    
}

.title {
    border-color: black;
    border-style: solid;
    margin-bottom: 4%;
    background-color: white;
}

.inner-title {
    border-style: solid;
    border-color: black;
    margin: 0.5%;
}

.title-text {
    font-size: 500%;
    text-align: center; 
}

.blog {
    float: left;
    width: 70%;
    background-color: white;
}

.blogtitle {
    font-size: 400%;

}

.blogtext {
    font-size: 200%;

}

.aboutMe {
    width: 23%;
    float: left;
    margin-top: 2%;
    text-align: center;
    margin-right: 2%;
    background-color: white;
    height: 50%;
}

