body {
    background-color:rgba(170, 183, 199, 0.6 );
    
}

.title {
    border-color: black;
    border-style: solid;
}

.inner-title {
    border-style: solid;
    border-color: black;
    margin: 0.5%;
}

.title-text {
    font-size: 450%;
    text-align: center; 

}